.badge {
	position: absolute;
	overflow: hidden;
	background-color: #ffa542;
	color: #fff;
	width: 17px;
	height: 17px;
	padding: 1px;
	font-size: 14px;
	border-radius: 50%;
	line-height: 1;
	text-align: center;
	top: -6px;
	right: -8px;
}
